.btnBlueOutline {
  border: 1px solid #4892C4;
  width: 100%;
  /* Adjust the width as needed */
  max-width: 290px;
  /* Limit the maximum width */
  height: auto;
  /* Let the height adjust based on content */
  min-height: 64px;
  /* Ensure a minimum height */
  background-color: #EFFCFF;
  border-radius: 10px;
  color: #4892C4;
}

.btnBlueOutline:hover {
  background-color: #4892C4;
  border-radius: 10px;
  color: #EFFCFF;
}

.btnYellowOutline {
  border: 1px solid #EEBC31;
  width: 100%;
  /* Adjust the width as needed */
  max-width: 290px;
  /* Limit the maximum width */
  height: auto;
  /* Let the height adjust based on content */
  min-height: 64px;
  /* Ensure a minimum height */
  background-color: #FFFDF6;
  border-radius: 10px;
  color: #EEBC31;
}

.btnYellowOutline:hover {
  background-color: #EEBC31;
  border-radius: 10px;
  color: #FFFDF6;
}

.btnFilledBlue {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 275px;
  min-width: 256px;
  /* Limit the maximum width */
  height: auto;
  /* Let the height adjust based on content */
  min-height: 56px;
  /* Ensure a minimum height */
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.btnFilledBlue:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btnFilledWhite {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 275px;
  min-width: 256px;
  /* Limit the maximum width */
  height: auto;
  /* Let the height adjust based on content */
  min-height: 56px;
  /* Ensure a minimum height */
  background-color: #fff;
  outline: none;
  border: 1px solid #5D686F;
  border-radius: 10px;
  color: #5D686F;
}

.btnFilledWhite:hover {
  background-color: var(--main-color);
  color: #fff;
  border: none;
}